.hotel-name {
    text-align: center;
    margin: 20px 0;
}

/* Special Items Section */
.special-items-section {
    margin-bottom: 20px;
    padding: 20px;
    /*background-color: #fff8e1; /* Light golden yellow background */
    /*border: 1px solid #ffd700;*/
    border-radius: 5px;
}

.special-items-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #0f0e0e; /* Darker golden yellow color for heading */
}

.special-items {
    display: flex;
    flex-direction: column; /* Ensure items are displayed vertically */
    align-items: center; /* Center items horizontally */
}

.special-item {
    width: 80%; /* Set a reasonable width for each item */
    margin: 10px 0; /* Vertical margin for spacing between items */
    padding: 10px;
    border: 1px solid #ffd700;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.special-item-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8c00;
    display: flex;
    justify-content: space-between; /* Align name and price at opposite ends */
}

.special-item-name {
    margin-right: 10px;
}

.special-item-price {
    font-size: 16px;
    color: #28a745;
}

.special-item-desc {
    font-size: 14px;
    color: #6c757d;
}



/* General styles for the PDF viewer */
#pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#pdf-canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#navigation-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navigation-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#navigation-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Media queries for mobile screens */
@media (max-width: 600px) {
    #pdf-container {
        margin: 10px;
    }

    #navigation-controls {
        flex-direction: column;
    }

    #navigation-controls button {
        width: 100%;
        margin-bottom: 5px;
    }

    #pdf-canvas {
        width: 100%;
    }
}



/* Container styles */
.container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-gap: 20px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

/* Vertical line in the center */
.container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #000; /* Color of the vertical line */
    transform: translateX(-50%);
}

/* Left and Right sections */
.left-section {
    grid-column: 1; /* Left section */
    display: flex;
    flex-direction: column;
}

.right-section {
    grid-column: 3; /* Right section */
    display: flex;
    flex-direction: column;
}

/* Styles for the categories */
.menu {
    padding: 10px;
    margin-bottom: 0; /* Space between categories */
}
.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000; /* Color of the horizontal line */
    margin-top: 20px; /* Space between the content and the line */
}

/* Heading styles */
.menu-group-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Styles for items */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.menu-item-name {
    font-size: 1rem;
}

.menu-item-price {
    font-size: 1rem;
    margin-left: auto;
}

.menu-item-desc {
    text-align: left;
    margin: 0;
}



/* Background animation */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFD700; /* Golden yellow background color */
    z-index: -1; /* Ensure it's behind the content */

    /* Apply opacity only to the background image */
    overflow: hidden; /* Ensure the background animation stays within the container */
}

.background-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/shape-5.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Opacity for the background image */
    z-index: -1; /* Ensure it's behind the background color */
    animation: background-slide 60s linear infinite; /* Adjust animation duration and timing function */
}

@keyframes background-slide {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-50%); } /* Move left over 5 seconds */
}
